[submodule "deps/vacuum-field"]
	path = deps/vacuum-field
	url = git@github.com:12ff54e/vacuum-field.git
[submodule "deps/magnetic-coordinate"]
	path = deps/magnetic-coordinate
	url = git@github.com:12ff54e/magnetic-coordinate.git
[submodule "deps/BSplineInterpolation"]
	path = deps/BSplineInterpolation
	url = https://github.com/12ff54e/BSplineInterpolation.git
